#pictureContainer{
	text-align: center;
	max-height: 100%;
	max-width: 100%; 
	position: relative;
}
.pictureText{
	padding: 20px;
	position: absolute;
	top: 0;
	left: 0;
	font-size: 20px;
	font-weight: bold;
}

#pictureTitle{
	margin: 0;
	padding: 20px 0;
	background-color: #c7efcf;
	font-size: 3em;
	border-radius: 20px;
}

#displayedPicture{
	cursor: zoom-out;
	padding-top: 20px;
	box-shadow: 4px 4px 2px #000;
}

#displayedPicture.shrinkImage{
	max-width: 100%;
	max-height: 600px;
	cursor: zoom-in;
}